USE [master]
GO
/****** Object:  Database [QuanLyKyTucXa]    Script Date: 12/16/2025 4:00:17 PM ******/
CREATE DATABASE [QuanLyKyTucXa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKyTucXa', FILENAME = N'D:\sql\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyKyTucXa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKyTucXa_log', FILENAME = N'D:\sql\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyKyTucXa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKyTucXa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKyTucXa]
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 12/16/2025 4:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[MaCauHinh] [nvarchar](50) NOT NULL,
	[GiaTri] [nvarchar](100) NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDangKy]    Script Date: 12/16/2025 4:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDangKy](
	[MaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NOT NULL,
	[MaPhong] [nvarchar](10) NOT NULL,
	[NgayGui] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/16/2025 4:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NOT NULL,
	[LoaiHoaDon] [nvarchar](100) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[NgayThanhToan] [datetime] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12/16/2025 4:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [nvarchar](10) NOT NULL,
	[SoNguoiHienTai] [int] NOT NULL,
	[SucChua] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[Toa] [nvarchar](20) NULL,
	[Khu] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanTriVien]    Script Date: 12/16/2025 4:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTriVien](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Avatar] [varbinary](max) NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/16/2025 4:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Phong] [nvarchar](10) NULL,
	[NgayVao] [datetime] NULL,
	[Avatar] [varbinary](max) NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 12/16/2025 4:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[MaThietBi] [int] IDENTITY(1,1) NOT NULL,
	[TenThietBi] [nvarchar](100) NOT NULL,
	[MaPhong] [nvarchar](10) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayMua] [date] NULL,
	[GiaTri] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/16/2025 4:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauSuaChua]    Script Date: 12/16/2025 4:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauSuaChua](
	[MaYeuCau] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NOT NULL,
	[MoTa] [nvarchar](500) NOT NULL,
	[LoaiThietBi] [nvarchar](50) NOT NULL,
	[MucDo] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayGui] [datetime] NOT NULL,
	[NgayXuLy] [datetime] NULL,
	[HinhAnh] [varbinary](max) NULL,
	[ChiPhi] [decimal](18, 0) NULL,
	[NgayHenSua] [datetime] NULL,
	[PhanHoiCuaSV] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CauHinh] ([MaCauHinh], [GiaTri], [MoTa]) VALUES (N'TienPhong', N'500000', N'Tiền phòng mỗi tháng')
GO
SET IDENTITY_INSERT [dbo].[DonDangKy] ON 

INSERT [dbo].[DonDangKy] ([MaDon], [MaSV], [MaPhong], [NgayGui], [TrangThai], [GhiChu]) VALUES (1, N'SV003', N'P102', CAST(N'2025-12-10T09:45:56.080' AS DateTime), N'Đã duyệt', NULL)
INSERT [dbo].[DonDangKy] ([MaDon], [MaSV], [MaPhong], [NgayGui], [TrangThai], [GhiChu]) VALUES (2, N'SV001', N'P101', CAST(N'2025-12-16T13:15:01.377' AS DateTime), N'Đã duyệt', NULL)
SET IDENTITY_INSERT [dbo].[DonDangKy] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaSV], [LoaiHoaDon], [SoTien], [NgayLap], [NgayThanhToan], [TrangThai]) VALUES (1, N'SV001', N'Tiền phòng T11/2025', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-12-10T09:45:56.080' AS DateTime), NULL, N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaSV], [LoaiHoaDon], [SoTien], [NgayLap], [NgayThanhToan], [TrangThai]) VALUES (2, N'SV001', N'Tiền điện T11/2025', CAST(120000.00 AS Decimal(18, 2)), CAST(N'2025-12-10T09:45:56.080' AS DateTime), CAST(N'2025-12-16T13:59:08.123' AS DateTime), N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaSV], [LoaiHoaDon], [SoTien], [NgayLap], [NgayThanhToan], [TrangThai]) VALUES (3, N'SV002', N'Tiền phòng T11/2025', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-12-10T09:45:56.080' AS DateTime), CAST(N'2025-12-16T12:18:19.350' AS DateTime), N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[Phong] ([MaPhong], [SoNguoiHienTai], [SucChua], [TrangThai], [Toa], [Khu]) VALUES (N'P101', 3, 4, N'Trống', N'Tòa A', N'Khu 1')
INSERT [dbo].[Phong] ([MaPhong], [SoNguoiHienTai], [SucChua], [TrangThai], [Toa], [Khu]) VALUES (N'P102', 2, 4, N'Trống', N'Tòa A', N'Khu 1')
INSERT [dbo].[Phong] ([MaPhong], [SoNguoiHienTai], [SucChua], [TrangThai], [Toa], [Khu]) VALUES (N'P201', 0, 6, N'Trống', N'Tòa B', N'Khu 2')
GO
SET IDENTITY_INSERT [dbo].[QuanTriVien] ON 

INSERT [dbo].[QuanTriVien] ([MaAdmin], [HoTen], [SoDienThoai], [Email], [DiaChi], [Avatar], [UserID]) VALUES (2, N'Admin admin1', NULL, NULL, NULL, NULL, 6)
INSERT [dbo].[QuanTriVien] ([MaAdmin], [HoTen], [SoDienThoai], [Email], [DiaChi], [Avatar], [UserID]) VALUES (3, N'Admin admin', NULL, NULL, NULL, NULL, 7)
SET IDENTITY_INSERT [dbo].[QuanTriVien] OFF
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [Email], [Phong], [NgayVao], [Avatar], [UserID]) VALUES (N'SV002', N'Trần Thị Bình', N'Nữ', CAST(N'2003-08-20' AS Date), N'Hải Phòng', N'0987654321', N'binh.tt@email.com', N'P101', CAST(N'2025-12-10T09:45:56.043' AS DateTime), NULL, 3)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SoDienThoai], [Email], [Phong], [NgayVao], [Avatar], [UserID]) VALUES (N'SV003', N'Lê Văn Cường', N'Nam', CAST(N'2003-02-15' AS Date), N'Đà Nẵng', N'0999888777', N'cuong.lv@email.com', N'P102', CAST(N'2025-12-16T13:27:41.163' AS DateTime), NULL, 4)
GO
SET IDENTITY_INSERT [dbo].[ThietBi] ON 

INSERT [dbo].[ThietBi] ([MaThietBi], [TenThietBi], [MaPhong], [TrangThai], [NgayMua], [GiaTri]) VALUES (1, N'Điều hòa Panasonic', N'P101', N'Tốt', CAST(N'2023-01-10' AS Date), CAST(8000000 AS Decimal(18, 0)))
INSERT [dbo].[ThietBi] ([MaThietBi], [TenThietBi], [MaPhong], [TrangThai], [NgayMua], [GiaTri]) VALUES (2, N'Quạt trần', N'P101', N'Tốt', CAST(N'2022-05-15' AS Date), CAST(500000 AS Decimal(18, 0)))
INSERT [dbo].[ThietBi] ([MaThietBi], [TenThietBi], [MaPhong], [TrangThai], [NgayMua], [GiaTri]) VALUES (3, N'Giường tầng 1', N'P101', N'Tốt', CAST(N'2020-08-01' AS Date), CAST(2500000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ThietBi] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (2, N'sv001', N'sv001', N'sinhvien')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (3, N'sv002', N'sv002', N'sinhvien')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (4, N'sv003', N'sv003', N'sinhvien')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[YeuCauSuaChua] ON 

INSERT [dbo].[YeuCauSuaChua] ([MaYeuCau], [MaSV], [MoTa], [LoaiThietBi], [MucDo], [TrangThai], [NgayGui], [NgayXuLy], [HinhAnh], [ChiPhi], [NgayHenSua], [PhanHoiCuaSV]) VALUES (1, N'SV001', N'Quạt trần quay chậm và kêu to', N'Quạt', N'Trung bình', N'Hoàn thành', CAST(N'2025-12-10T09:45:56.080' AS DateTime), CAST(N'2025-12-16T13:38:35.890' AS DateTime), NULL, CAST(0 AS Decimal(18, 0)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[YeuCauSuaChua] OFF
GO
/****** Object:  Index [UQ__QuanTriV__1788CCAD3A64F652]    Script Date: 12/16/2025 4:00:18 PM ******/
ALTER TABLE [dbo].[QuanTriVien] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SinhVien__1788CCAD26A104BE]    Script Date: 12/16/2025 4:00:18 PM ******/
ALTER TABLE [dbo].[SinhVien] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4296BFE15]    Script Date: 12/16/2025 4:00:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonDangKy] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[DonDangKy] ADD  DEFAULT (N'Chờ duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((0)) FOR [SoNguoiHienTai]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((4)) FOR [SucChua]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[QuanTriVien] ADD  DEFAULT (N'Quản Trị Viên') FOR [HoTen]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT (N'Khác') FOR [GioiTinh]
GO
ALTER TABLE [dbo].[ThietBi] ADD  DEFAULT (N'Tốt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThietBi] ADD  DEFAULT (getdate()) FOR [NgayMua]
GO
ALTER TABLE [dbo].[ThietBi] ADD  DEFAULT ((0)) FOR [GiaTri]
GO
ALTER TABLE [dbo].[YeuCauSuaChua] ADD  DEFAULT (N'Trung bình') FOR [MucDo]
GO
ALTER TABLE [dbo].[YeuCauSuaChua] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[YeuCauSuaChua] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[YeuCauSuaChua] ADD  DEFAULT ((0)) FOR [ChiPhi]
GO
ALTER TABLE [dbo].[DonDangKy]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonDangKy]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuanTriVien]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([Phong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThietBi]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YeuCauSuaChua]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='sinhvien' OR [Role]='admin'))
GO
USE [master]
GO
